* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/login_bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: white;
  width: 600px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px gray;
}

.precautions_wrap {
  margin: 40px;
}

.title {
  margin-bottom: 40px;
}

.p {
  font-weight: 600;
  margin-bottom: 10px;
  word-break: keep-all;
}

li {
  margin-bottom: 10px;
  word-break: keep-all;
}

.button_wrap {
  display: flex;
  justify-content: end;
}

/* 미디어 쿼리 추가 */
@media (max-width: 768px) {
  #container {
    width: 80%;
    padding: 20px;
  }

  .precautions_wrap {
    margin: 20px;
  }

  .title {
    margin-bottom: 20px;
  }

  .button_wrap {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  #container {
    width: 95%;
    padding: 15px;
  }

  .precautions_wrap {
    margin: 10px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  .p {
    font-size: 0.9em;
  }

  .button_wrap {
    flex-direction: column;
    align-items: center;
  }
}