* {
  margin: 0;
  padding: 0;
}

/* body {
  background-image: url(../light1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
} */

#container {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#title_result {
  margin: 0;
  width: 100%;
  margin-bottom: 40px;
  word-break: keep-all;
}

p {
  margin-bottom: 20px;
}

.table_wrap {
  margin-top: 50px;
}

.result-table {
  background-color: white;
  width: 600px;
  border: none;
  border-collapse: collapse;
  box-shadow: 1px 1px 6px rgb(187, 187, 187);
} 
.result-table th, .result-table td {
  width: 300px;
  padding: 8px;
  text-align: center;
}

th {
  border: 1px solid #a8a8a8;
  font-weight: 600;
  color: white;
  background-color: rgb(62, 130, 255);
}

td {
  border: 1px solid #a8a8a8;
}

#source {
  font-size: x-small;
  color: rgb(165, 165, 165);
}

#print_button_wrap {
  margin-top: 40px;
  display: flex;
  justify-content: end;
}


/* 더블은 굵기가 어느정도 되야 된다. */
.highest_score_cell {
  border-top: 4px double black;
  font-weight: 600;
  background-color: rgb(209, 209, 209);
}

.highest_type_cell {
  border-top: 4px double black;
  font-weight: 600;
  background-color: rgb(209, 209, 209);
}


/* 모바일 화면 (최대 600px) */
@media (max-width: 480px) {
  #title_result {
    width: 100%;
  }

  .result-table {
    width: 100%;
  }

  .result-table th, .result-table td {
    width: auto;
    padding: 6px;
  }

  #container {
    height: auto;
    padding: 20px;
  }

  #print_button_wrap {
    margin-top: 20px;
    justify-content: center;
  }

  #title_result {
    width: 100%;
  }

  p {
    font-size: large;
  }
}

/* 태블릿 화면 (최대 900px) */
@media (max-width: 900px) and (min-width: 601px) {
  #title_result {
    width: 100%;
  }

  .result-table {
    width: 80%;
  }

  .result-table th, .result-table td {
    width: auto;
    padding: 7px;
  }

  #container {
    height: auto;
    padding: 20px;
  }

  #print_button_wrap {
    margin-top: 30px;
    justify-content: center;
  }
}

/* 데스크탑 화면 (최소 901px) */
@media (min-width: 901px) {
  #title_result {
    width: 100%;
  }

  .result-table {
    width: 100%;
  }

  .result-table th, .result-table td {
    width: 300px;
    padding: 8px;
  }

  #container {
    height: 800px;
    padding: 0;
  }

  #print_button_wrap {
    margin-top: 40px;
    justify-content: end;
  }


}